@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body.printing-summary * {
    visibility: hidden !important;
  }

  body.printing-summary #results-print-report,
  body.printing-summary #results-print-report * {
    visibility: visible !important;
  }

  body.printing-summary #results-print-report {
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    background: white !important;
    color: black !important;
  }
}